/* Colors
#f4f2ec - main background color
#ece4d4
#b4b4a6 - accent color
#ececdc
#ece4cc

/* css Reset */

body, header, nav, footer, h3, div, img, ul, section, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style for rules for hamburger menu */

.mobile-nav a {
	color: #375c83;
	font-family: 'Francois One', sans-serif;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	padding: 3%;
	display: block;
    background-color: #b4b4a6;
}


.mobile-nav a.menu-icon {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
    color: #375c83;
}

/* Styles for the video section */
#video {
    background-color: #ffffff;
    padding: 50px 0;  
}
  
#video video {
	width: 70%;
	display: block;
	margin: 0 auto;
	border-radius: 20px;
}

/* Style rules for header */
header {
	background-color: #b4b4a6;
	text-align: left 20px;
	padding: 20px;
}

  /* Styles for the main section */
main {
    text-align: center; 
    padding: 20px;
    box-sizing: border-box;
    color: #375c83;
}

main section {
    max-width: 600px;
    margin: 0 auto;
}

main p {
    line-height: 5;
}

/* Styles for the nav */
#nav {
	display: flex;
	justify-content: space-between;
	background-color: #b4b4a6;
}

nav .tablet-desktop {
    justify-content: flex-end;
    margin-bottom: 100px;
    margin-top: -30px;
}

.tablet-desktop ul {
	margin-bottom: auto;
	margin-top: auto;
    list-style-type: none;
}

.tablet-desktop ul li {
    display: inline-block;
    margin-right: 30px;
}

.tablet-desktop ul li:last-child {
    margin-right: 20;
}

nav li a:hover {
    color: #000;
    background-color: #ccccbf;
    transform: scale(1.3);
}

.tablet-desktop, #menu-links {
    display: none;
}

a{
    text-decoration: none;
    color: #375c83;
}

footer {
    text-align: center;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
	
	/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
	.tablet-desktop {
		display: flex;
	}

	.mobile, .mobile-nav {
		display: none;
	}
}
