/* Colors
#f4f2ec - main background color
#ece4d4
#b4b4a6 - accent color
#ececdc
#ece4cc

/* css Reset */

body, header, nav, footer, h3, div, img, ul, section, video {
    margin: 0;
    padding: 0;
    border: 0;
}

#container {
	font-family: 'Francois One', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* Style for rules for hamburger menu */
.mobile-nav a {
	color: #375c83;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	padding: 3%;
	display: block;
    background-color: #b4b4a6;
}


.mobile-nav a.menu-icon {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
    color: #375c83;
}

/* Styles for the video section */
#video {
    background-color: #ffffff;
    padding: 50px 0;  
}
  
#video video {
	width: 70%;
	display: block;
	margin: 0 auto;
	border-radius: 20px;
}

/* Style rules for header */
header {
	background-color: #b4b4a6;
	padding: 20px;
	position: sticky;
	left: 10px
}

  /* Styles for the main section */
main {
    text-align: center; 
    padding: 20px;
    box-sizing: border-box;
    color: #375c83;
}

main section {
    max-width: 600px;
    margin: 0 auto;
}

main p {
    line-height: 5;
}

/* Dropdown nav */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #b4b4a6;
    border: 1px solid #b4b4a6;
}

.tablet-desktop ul li:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 30px;
}

.dropdown-menu li a {
    color: #375c83;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #abab7c;
}

/* Styles for the nav */
#nav {
	display: flex;
	background-color: #b4b4a6;
}

nav .tablet-desktop {
    margin-bottom: 100px;
    margin-top: -30px;
}

.tablet-desktop ul {
	margin-bottom: auto;
	margin-top: auto;
    list-style-type: none;
}

.tablet-desktop li {
    display: inline-block;
    margin-right: 80px;
}

.tablet-desktop li:last-child {
    margin-right: 20;
}

.tablet-desktop a {
	display: inline-block;
	padding: 10px;
}

.tablet-desktop a:hover {
    color: #000;
    background-color: #ccccbf;
	transform: scale(1.3);
}

.tablet-desktop a:active {
	background-color: #ece4cc;
}

.tablet-desktop, #menu-links {
    display: none;
}

a{
    text-decoration: none;
    color: #375c83;
}

.home-images {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.home-images img {
	height: 300px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.grid > span {
    padding: 8px 4px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

footer {
    text-align: center;
	margin-top: auto;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
	
	/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
	#nav {
		justify-content: space-between;;
	}
	
	.tablet-desktop {
		display: flex;
	}

	.mobile, .mobile-nav {
		display: none;
	}
	
	.home-images {
		flex-direction: row;
	}
	
	footer {
		display: flex;
		justify-content: center;
	}
	
	footer * {
		margin-top: auto;
		margin-bottom: auto;
		padding: 20px;
	}
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1024px), print {
	#container {
		font-size: 1.15em;
	}
	
	footer {
		justify-content: left;
	}
}